<%- include('./partials/head'); %>
<title>Task 7</title>
</head>
<body>
<div class="jumbotron"><h1 class="display-1">Task 7</h1>
    
    <br>
    
    <p class="lead">Implement and test a program to create a list of 35 random, upper case letters and then stores the list in an array. You should then sort the list into order, A to Z, and output the character in the middle of the list.<br>
</p></div>
<br>

    <script src="/public/task7.js"></script>
    </body>

    </html>