<%- include('./partials/head'); %>
<title>Task 10</title>
</head>
<body>
<div class="jumbotron bg-white">
<h1 class="display-1">Task 10</h1><br>
<p class="lead"> Implement and test a program to simulate a simple game.<br><br> Your program should do the following:<br><br>
    Store six colours in an external file (Note: these colours can be your choice of words or graphics).<br> Create three arrays and input the colours to each of the arrays.<br> For each of the three arrays, create a random number between 1 and 6 and output that colour to the screen. If two of the colours match, the user wins 50 pence. <br> If all three colours match, the user wins &pound;1.<br> Allow the user to have five &lsquo;shots&rsquo; and keep track of their winnings.<br> Display suitable messages on screen.
    </p> <br><p> File handling : write, save and close on file:app.js</p></div>
    <br><br>
    <div class="jumbotron bg-white text-center bg">
        <p class="lead text-danger">Game rules:</p>
        <p class="lead text-primary">Match 3 colors and you<span class='text-danger'> WIN</span> £ 1</p>
        <p class="lead text-primary">Match 2 colors and you <span class='text-danger'>WIN</span> £ 0.50</p>
        <p class="lead text-primary">Match no colors and you <span class='text-danger'>LOOSE </span> £ 0.50</p>
        <button type="button" id="cashOut"  class="btn btn-warning btn-lg"> Cash Out </button> <br><br>
     <p class="lead text-warning warn">IF YOU LOOSE, AND YOUR GAME BALANCE IS LESS THAN 0, £ 0.50 IS <span class="text-danger">AUTOMATICALLY WITHDRAWN </span>FROM YOUR GAME WALLET</p>

      <div id="result"></div>

        <br><br>
        <div class="row">
            <div class="col-4">
                <div class="square square1"></div>
            </div>
            <div class="col-4"><div class="square square2"></div>

            </div>
                <div class="col-4"><div class="square square3"></div>

                </div>

        </div>


<br><br><br>
  
        <button type="button" id="start"  class="btn btn-success btn-lg"> Play </button> &nbsp;&nbsp;&nbsp;


        <button type="button" id="tryAgain"  class="btn btn-primary btn-lg"> Play Again </button>
<br>
      

    </div>

    <script src="/public/task10.js"></script>
    </body>

    </html>