<%- include('./partials/head'); %>
<title>Task 9</title>
</head>
<body>
<div class="jumbotron bg-white">
<p class="lead">Implement and test a program in your programming language which does the following:<br>
    Fills an array with 20 random integers between 1 and 10. Prints the array contents to screen. Finds and displays the maximum and minimum values in the array. Asks the user for an integer between 1 and 10 using input validation and displays how many times it occurs in the array. Asks the user for an integer between 1 and 10 using input validation and displays where in the array that number first occurs and indicates when it is not present</p></div>
<br><br><div class="jumbotron text-center bg-white">
<h2 id="randomNumbers" ></h2>&nbsp;<br><br>
<h4 class="display-4 text-success " id="min"></h4>
<h4  class="display-4 text-danger" id="max"></h4><br><br>
    <h3 class="display-4"><strong>PLease enter a number between 1 and 10 to find occurences in the array </h3><br>
    <h2></strong><input  class="form-control"  onfocus="this.value=''" type="number" placeholder="Enter a number between 1 and 10" value=""  id="input"  name='userInput'/></h2> <br>
  
    <br><br>    <h1 id="showInput"></h1>
    <br><br>
    <h1 id="occurences"></h1><br><br>
    <button type="button" id="getInput"  class="btn btn-primary btn-lg"> Submit </button>
    <br><br><br>
<div id="highlightDiv"><span id="highlightSpan"></span></div>
<br>

<div id="container" class="text-center ">
   
    </div>


</div>


    <script src="/public/task9.js"></script>
    </body>

    </html>