<%- include('./partials/head'); %>
<title>Task 3</title>
</head>
<body>
    <main>
<div class="jumbotron main">
 <h1 class="display-1">10 addition questions</h1>
 <br><p class="lead">Task 3</p>
   
    <p class="lead"> Implement and test a program to ask a user 10 addition questions using randomly created numbers between 10 and 30. The program should:
        check if each of the user’s answer is correct keep a total of the number of correct answers repeat the quiz until the user achieves more than seven correct</p>
    </div>
    <div id="correctAnswer" class="container"><span id="showAnswer"></span></div>

     <div id="countAnswers" class="container"></div>
         <div class="jumbotron text-center">
             <div id="score" class="container">
             </div>
        <input id="numb1" type="text" class="num"  value="" readonly /> <span class="plus">+</span>
        <input id="numb2" type="text" class="num"  value="" readonly/>
        <br><br>
        <label for="userInput">Answer</label><br>

        <input id="userInput" type="text" class="result"  value="" /> <br><br>
     <button id="checkAnswer" class="btn btn-lg btn-primary">Check Answer</button>
     <br><br> <br><br><br>   <button id="reset" class="btn btn-lg btn-danger">Reset</button>

    </div> 

</div>
</main>
<script src="/public/task3.js"></script>
</body>
</html>