<%- include('./partials/head'); %>
<title>Task 4</title>
</head>
<body>
    <main>
<div class="jumbotron">
    <h1 class="display-1">Task 4</h1> <br>
<h3 class="display-4">Implement and test a program to input a sentence, apply a code to each character (except spaces) and output the coded message to the screen.</h3>
<br><p class="lead"> 
For example, A becomes Y, B becomes Z, etc and thus Hello World would be coded as Fcjjm Umpjb.
    </p>
</div>
<div class="container">
    <h1 class="display-2">Original Sentence</h1>
    <br>
    <h1 class="display-4" id="originalSentence"></h1>
    <br>
    <h1 style="color: red;" class="display-2">Changed Sentence</h1>
    <br>
          <h1 style="color: red;" class="display-4" id="changedSentence"></h1>
   
    </div>
    <div class="jumbotron bg-white text-center"><button id="addSpaces" class="btn btn-primary btn-lg ">Add spaces</button></div>
    <div class="jumbotron bg-white text-center"><button id="removeS" class="btn btn-primary btn-lg ">remove spaces</button></div></main>
<script src="/public/task4.js"></script>
</body>
</html>