<%- include('./partials/head'); %>
<title>Task 5</title>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-1">Task 5</h1> <br>
        <p class="lead">Implement and test a program to assign grades to exam marks for a class of 15 students, using
            the following criteria:</p>
        <p>more than 70% is an A more than 60% is a B over 50% is a C more than 45% is a D less than 45% is a fail</p>
        <p>The program requires the highest possible score for an exam, each student&rsquo;s name (first name and
            surname) and each student&rsquo;s mark.</p>
        <p>The program should then:</p>
        <p>calculate the percentage mark for each student sort the percentages into order from highest to lowest display
            each student&rsquo;s initials, percentage and grade in the sorted order display the total numbers of As, Bs,
            Cs, Ds and fails</p>
    </div>
<br><br>
<div class="container text-center"><h1 class="display-1">Exam Results</h1>
</div>
<br><br>




    <script src="/public/task5.js"></script>
    </body>
    </html>